In [1]:
import numpy as np
import pandas as pd

In [82]:
a=[1,2,3,4]
b=[5,6,57,8]
c=[9,0,1,2]
d=[3,4,5,6]
e=[7,8,9,0]

In [83]:
df=pd.DataFrame([a,b,c,d,e])

In [84]:
df[4]=df[2] + df[3]

In [85]:
df

   0  1   2  3   4
0  1  2   3  4   7
1  5  6  57  8  65
2  9  0   1  2   3
3  3  4   5  6  11
4  7  8   9  0   9

In [86]:
df.drop(4)

   0  1   2  3   4
0  1  2   3  4   7
1  5  6  57  8  65
2  9  0   1  2   3
3  3  4   5  6  11

In [91]:
df.drop(4, axis=1, inplace=True)

In [95]:
df[0][2]

9

In [102]:
df.loc(3)

ValueError: No axis named 3 for object type <class 'pandas.core.frame.DataFrame'>